{{template "base" .}} {{define "content"}}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="text-center mt-4">This will be the contact Page</h1>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <a href="/search-availability-ms" class="btn btn-success"
        >Check Availability</a
      >
    </div>
  </div>
</div>
{{end}}
